# /etc/systemd/system/thermometer.service

[Unit]
Description=Thermometer
After=network.target

[Service]
WorkingDirectory=<PATH>
ExecStart=/usr/bin/python3 <PATH>/app.py
Restart=always
User=<USERNAME>

[Install]
WantedBy=multi-user.target
